a {
  color: inherit;
}

h1, h2, h3, p, ul, blockquote {
  width: 700px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 66px;
  font-size: 38px;
  line-height: 44px;
}

h1 + p {
  margin-top: 15px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, .4);
}

p {
  font-family: 'PT Sans', sans-serif;
  margin-top: 23px;
  font-size: 21px;
}

img {
  display: block;
  width: 1020px;
  margin: 80px auto;
}

img + h2 {
  margin-top: -1px;
}

img + p,
img + blockquote,
img + ul {
  margin-top: -3px;
}

h2 + img {
  margin-top: 82px;
}

h3 + img {
  margin-top: 81px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
