a {
  color: inherit;
}

h1, h2, h3, p, ul, blockquote {
  width: 700px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
}

h1 {
  margin-top: 66px;
  font-size: 38px;
  line-height: 44px;
}

h1 + p {
  margin-top: 15px;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, .4);
}

p {
  font-family: 'PT Sans', sans-serif;
  margin-top: 23px;
  font-size: 21px;
  line-height: 33px;
}

img {
  display: block;
  width: 1020px;
  margin: 80px auto;
}

h2 {
  margin-top: 42px;
  font-size: 31px;
  line-height: 35px;
}

h2 + p {
  margin-top: 8px;
}

p + p {
  margin-top: 30px;
}

h3 {
  margin-top: 34px;
  font-size: 27px;
  line-height: 33px;
}

h3 + p {
  margin-top: 8px;
}

blockquote {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  line-height: 33px;
}

ul {
  font-family: 'PT Sans', sans-serif;
  margin-top: 30px;
  font-size: 21px;
  line-height: 33px;
}

li {
  margin-top: 18px;
  list-style: disc;
}

h2 + h3 {
  line-height: 38px;
}

h2 + ul {
  margin-top: 30px;
}
