.posts {
  background-image: url(../imades/posts_mockup.png);
  background-position: center -10px;
  background-repeat: no-repeat;
}

.posts.bg {
  background-image: url(../imades/posts_mockup.png);
}

.postsFeed a {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 1);
}
